<div class="footer container-fluid">
  <div class="footer-info row">
    <div class="footer-links col-6">
      <p class="mylinks">Useful <span class="link-span">Links</span></p>
      <p><a [routerLink]="['/']" href="#">Home</a></p>
      <p><a [routerLink]="['/appointments']" href="#">Appointments</a></p>
      <p>
        <a [routerLink]="['/bookappointments']" href="#">Book Session</a>
      </p>
      <p>
        <a [routerLink]="['/contactus']" href="#">Contact Us</a>
      </p>
    </div>
    <div class="footer-contact col-6">
      <p class="mylinks">Contact <span class="link-span">Info</span></p>
      <p>Address : 12th Street, Pearl Avenue, Paris</p>
      <p>Email: getfit@gmail.com</p>
      <p>Phone: +21-456-894</p>
      <p>Fax: 213-313-345</p>
    </div>
  </div>
  <div class="footer-end">
    <p>GetFit - 2022</p>
  </div>
</div>
